
body {
    background-color: rgb(224, 224, 224);
}

div {
    margin-bottom: 5px;
}

#logdiv {
    text-align: center;
}

#descriptiondiv {
    text-align: right;
}

#AddingDescription {
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: rgb(87, 118, 161);
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgb(56, 89, 136),
    1px 2px 0px rgb(56, 89, 136),
    1px 3px 0px rgb(56, 89, 136),
    1px 4px 0px rgb(56, 89, 136),
    1px 5px 0px rgb(56, 89, 136),
    1px 6px 0px rgb(56, 89, 136),
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }